*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#home{
    height: auto;
    width: auto;
    background: none;
}
.img{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(".//library2.jpg");
    background-size: cover;
    background-position: 100%;
}
#about{
    width: 100%;
    height: 100vh;
    /* background: rgb(98, 79, 115); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-box{
    height: 50%;
    width: 80%;
    /* background: green; */
    text-align: center;
    margin-top: 50px;
}
.about-box h2{
    font-size: 3rem;
    font-weight: 700;
    color: white;
}
/*  */
#about-content{
    background: yellowgreen;
    height: 100vh;
    width: 100%;
}